[user]
	name = yi
	email = yi2004@gmail.com
[merge]
	tool = vimdiff
[alias]
	co = checkout
	br = branch
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	df = diff
  st = status -s
  l = log --oneline --decorate -12 --color
  ll = log --oneline --decorate --color
  lc = log --graph --color
  rb = rebase
  re = remote
  dci = dcommit
  sbi = submodule init
  sbu = submodule update
  sbp = submodule foreach git pull
  sbc = submodule foreach git co master
  dry-run = merge --no-commit --no-ff
  mt = mergetool
	undo-commit = reset --soft HEAD^




[core]
	editor = /usr/bin/vim
